@font-face {
  font-family: "RethinkSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RethinkSans-Bold.woff2") format("woff2"),
    url("../fonts/RethinkSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "RethinkSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RethinkSans-SemiBold.woff2") format("woff2"),
    url("../fonts/RethinkSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "RethinkSans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RethinkSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/RethinkSans-ExtraBold.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page__body {
  font-family: "RethinkSans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 90px;
}

.navigation__list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 41px;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #0a507a;
}

.page-header__phone {
  padding: 10px 20px 10px 54px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  background-color: #0a507a;
  position: relative;
}

.page-header__phone::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../image/header/phone.svg");
  background-repeat: no-repeat;
  left: 20px;
}
